{
    "path_inbox": "V:\\SHARE\\VZPbot\\VZPbots\\VZPbot1\\1. Inbox",
    "path_done": "V:\\SHARE\\VZPbot\\VZPbots\\VZPbot1\\2. Done",
    "path_backup": "V:\\SHARE\\VZPbot\\VZPbots\\VZPbot1\\2. Done\\Backups",
    "": ""
}